# SQL Learning Activities

Complete all the tasks below in a Jupyter notebook using a mixture of Python and SQL.

**1)** Create a SQL database called **email_addresses** that contains a table called **names** with the following data:

| ID | FirstName | Surname   | Email                  |
|----|-----------|-----------|------------------------|
| 1  | Mark      | Campbell  | markcampbell@ada.ac.uk |
| 2  | Steve     | Rich      | steve@ada.ac.uk        |
| 3  | Ian       | Dickerson | ian@ada.ac.uk          |
| 4  | Vicky     | Clarke    | vicky@ada.ac.uk        |
| 5  | Stuart    | Noss      | stuart@ada.ac.uk       |

In [12]:
import sqlite3
with sqlite3.connect("email_addresses") as db:
    cursor = db.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS names(ID integer PRIMARY KEY, 
FirstName text NOT NULL, Surname text NOT NULL, Email text NOT NULL);""")

In [11]:
newID = input("Enter unique person ID number: ")
newName = input("Enter name: ")
newSurname = input("Enter surname: ")
newEmail = input("Enter their email: ")

cursor.execute(("""INSERT INTO names VALUES(?,?,?,?)"""),(newID, newName, newSurname, newEmail))
db.commit()

cursor.execute("SELECT * from names")
print(cursor.fetchall())

Enter unique person ID number: 5
Enter name: Stuart
Enter surname: Noss
Enter their email: stuart@ada.ac.uk
[(1, 'Mark', 'Campbell', 'markcampbell@ada.ac.uk'), (2, 'Steve', 'Rich', 'steve@ada.ac.uk'), (3, 'Ian', 'Dickerson', 'ian@ada.ac.uk'), (4, 'Vicky', 'Clarke', 'vicky@ada.ac.uk'), (5, 'Stuart', 'Noss', 'stuart@ada.ac.uk')]

**2)** Create a new SQL database called BookInfo that will store a list of authors and the books they wrtoe. It will have two tables. The first one should be called **authors** and contain the following data:

| Name                | Place of Birth |
|---------------------|----------------|
| HP Lovecraft        | Providence     |
| Ramsey Campbell     | Liverpool      |
| August Derleth      | Sauk City      |
| Robert A.W. Lowndes | Rhode Island   |

The second one should be called **books** and contain the following data:

| ID | Title                           | Author              | Year Published |
|----|---------------------------------|---------------------|----------------|
| 1  | Call of Cthulhu                 | HP Lovecraft        | 1928           |
| 2  | The Last Voice They Hear        | Ramsey Campbell     | 1998           |
| 3  | Believer's World                | Robert A.W. Lowndes | 1961           |
| 4  | The Case of Charles Dexter Ward | HP Lovecraft        | 1941           |
| 5  | Something Near                  | August Derleth      | 1945           |
| 6  | Lonesome Places                 | August Derleth      | 1962           |
| 7  | From Beyond                     | HP Lovecraft        | 1934           |
| 8  | Dwellers in Darkness            | August Derleth      | 1976           |
| 9  | The Long Lost                   | Ramsey Campbell     | 1983           |
| 10 | The Duplicated Man              | Robert A.W. Lowndes | 1959           |
| 11 | The Tomb                        | HP Lovecraft        | 1922           |
| 12 | The Claw                        | Ramsey Campbell     | 1983           |

In [7]:
import sqlite3
with sqlite3.connect("BookInfo") as db:
    cursor = db.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS authors(authorName text NOT NULL, PlaceOfBirth text NOT NULL);""")

In [19]:
newName = input("Enter new author name: ")
newPOB = input("Enter place of birth: ")

cursor.execute(("""INSERT INTO authors VALUES(?,?)"""),(newName, newPOB,))
db.commit()

Enter new author name: Robert A.W. Lowndes
Enter place of birth: Rhode Island

In [20]:
cursor.execute("SELECT * from authors")
print(cursor.fetchall())

[('HP Lovecraft', 'Providence'), ('Ramsey Campbell', 'Liverpool'), ('August Derleth', 'Sauk City'), ('Robert A.W. Lowndes', 'Rhode Island')]

In [12]:
import sqlite3
with sqlite3.connect("BookInfo") as db:
    cursor = db.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS books(bookID integer PRIMARY KEY, bookTitle text NOT NULL,
authorName text NOT NULL, yearPublished integer NOT NULL);""")

In [18]:
newID = input("Enter new book ID: ")
newBookTitle = input("Enter the new book title: ")
newAuthor = input("Enter new author name: ")
newYearPublished = input("Enter year published: ")

cursor.execute(("""INSERT INTO books VALUES(?,?,?,?)"""),(newID, newBookTitle, newAuthor, newYearPublished))
db.commit()

Enter new book ID: 12
Enter the new book title: The Claw
Enter new author name: Ramsey Campbell
Enter year published: 1983

In [19]:
cursor.execute("SELECT * from books")
print(cursor.fetchall())

[(1, 'Call of Cthulhu', 'HP Lovecraft', 1928), (2, 'The Last Voice They Hear', 'Ramsey Campbell', 1998), (3, "Believer's World", 'Robert A.W. Lowndes', 1961), (4, 'The Case of Charles Dexter Ward', 'HP Lovecraft\t', 1941), (5, 'Something Near', 'August Derleth', 1945), (6, 'Lonesome Places', 'August Derleth', 1962), (7, 'From Beyond', 'HP Lovecraft', 1934), (8, 'Dwellers in Darkness', 'August Derleth', 1976), (9, 'The Long Lost', 'Ramsey Campbell', 1983), (10, 'The Duplicated Man', 'Robert A.W. Lowndes', 1959), (11, 'The Tomb', 'HP Lovecraft', 1922), (12, 'The Claw', 'Ramsey Campbell', 1983)]

**3)** Using the BookInfo database from question 2 above, display the list of authors and their place of birth. Ask the user to enter a place of birth and then show the title, date published and author's name for all the books by authors who were born in the location they selected.

In [1]:
import sqlite3
with sqlite3.connect("BookInfo") as db:
    cursor = db.cursor()

cursor.execute("SELECT * from authors")
print(cursor.fetchall())

[('HP Lovecraft', 'Providence'), ('Ramsey Campbell', 'Liverpool'), ('August Derleth', 'Sauk City'), ('Robert A.W. Lowndes', 'Rhode Island')]

In [35]:
import re
POB = input("Please enter one of the places of birth mentioned above: ")

cursor.execute("SELECT Name from authors WHERE PlaceOfBirth =?",[POB])
global data
data = []

data = cursor.fetchall()

print(data)
for item in data:
    print("meep")
    print(item)
    line = re.sub(',', '', str(item))
    print(line)
    cursor2 = db.cursor()
    cursor2.execute("SELECT * from books WHERE author  =? ", [item])
    
    print(cursor2.fetchall())

#cursor.execute("SELECT bookTitle, yearPublished, authorName from books WHERE authors.authorName = book.authorName")

Please enter one of the places of birth mentioned above: Liverpool
[('Ramsey Campbell',)]
meep
('Ramsey Campbell',)

error: missing ), unterminated subpattern at position 0

**4)** Using the BookInfo database, ask the user to enter a year and display all the books published after that year, sorted by the year they were published.

In [10]:
import sqlite3
with sqlite3.connect("BookInfo") as db:
    cursor = db.cursor()

In [11]:
year = input("Enter a year")

Enter a year1940

In [14]:
cursor.execute("SELECT bookTitle, yearPublished from books WHERE yearPublished > ? ORDER BY yearPublished ASC",[year])
print(cursor.fetchall())

[('The Case of Charles Dexter Ward', 1941), ('Something Near', 1945), ('The Duplicated Man', 1959), ("Believer's World", 1961), ('Lonesome Places', 1962), ('Dwellers in Darkness', 1976), ('The Long Lost', 1983), ('The Claw', 1983), ('The Last Voice They Hear', 1998)]

In [15]:
db.close()